Tag for CRIs

We currently don't define a tag for bstr-wrapped CRIs; maybe we should:

> Tag TBDcri is defined to indicate that the tag content is an encoded CRI reference sequence (in that, it is similar to but more precise than tag 63). When encountered in a conversion to JSON, a generic converter (which would otherwise fail the conversion) may resolve the CRI reference against the CRI form of the base URI as per RFC3986 Sections 5.1.2, 5.1.3 and 5.1.4, convert it into a URI, and put the URI string in the place of the tag in the JSON. It MAY (and should for brevity) use a URI reference (relative to the same base URI) instead. (This is a verbose way of saying to "convert the CRI reference to a URI reference" -- but that conversion is not defined as it is not possible for discard=0 cases).
>
> A generic converter needs to be aware of the encapsulation and retrieval mechanisms, or (if no retrieval happens) of the application's default base URI, to be able to use the tag.
>
> Tag TBDcri MUST NOT be used in CBOR based formats that have Base URIs embedded in content, as those would not be available to a generic converter, which would thus potentially produce wrong conversion results. These formats need specialized converters anyway if they are convertible to JSON. CoRAL is an example of such a format.
>
> [ WIP note: If this document changes to a point where all CRI references *can* be converted to URI references, not only can the top paragraph be simplified to refer to that conversion, but also then bottom paragraph can be yoten (yeeted?). ]

This (to me) sounds straightforward now, but will be tricky if we take the "tags for exotic URI compressions" (a #5 option) as then the question is whether a hypothetical `#6.TBDni(h'hashhash')` would be short for `#6.TBDcri('\x42ni\x59\x..sha256;base64-of-hashhash')` (thus ruling out the use with CoRAL as per the "MUST NOT") or just short for `'\x42ni\x59\x..sha256;base64-of-hashhash'` (the untagged CRI) which makes it unusable with generic converters.

Or can we tone down the MUST NOT because a format not designed for generic converters can't be expected to produce any sane results anyway? (After all, a SenML CBOR can also hit a generic converter and doesn't produce the right JSON, so it'd be OK if CoRAL produces garbage as well).

Revisiting this a few days later, maybe this is all easier than originally thought -- with CBOR based formats out there that (tags or no tags) don't travel well through generic converters, it should be clear that formats need to opt in to the usability with generic converters.

Thus, the paragraph could instead say:

> CBOR based formats that have Base URIs embedded in content can not be used with tag TBDcri through generic converters, as those lack the context to translate the convert the tags correctly there. Such formats need specialized converters anyway if they are convertible to JSON. CoRAL is an example of such a format.

Then, tags like for ni can more straightforwardly be said to be shortcuts for TBDcri, and all that's needed is some warning that says that some formats (like CoRAL probably will) do not require CRIs to be tagged (because it's obvious from having a bstr in these positions), may not even support that, and that when a tag like TBDni is encountered in such positions, it is not expanded to TBDcri but to the content thereof right away.