For binary comparison of CRIs, need deterministic encoding

Should reference Section 4.2 of RFC 8949 (which is near-trivial since CRI is about arrays); should also define rules above CBOR such as »use -1 instead of false, "coap"«

The other part where there can currently be ambiguity is the presence or absence of default ports (not sure *where* that was discussed earlier, didn't find it in a quick search).

My stance here is that binary comparability should be advertised on a best-effort basis, because there are other forms of URI aliasing we can't cover in for sure anyway. Applications can't rely on this for firewalling (just as people are asking for trouble when blocking 127.0.0.1 and are surprised by ::1).

The most relevant application I can think of is feeding a CRI into some AAD, and then the application needs to opt into some canonicalization rules we can sketch out, possibly augmented by "use numeric form for this set of schemes" (if extensible, cf. https://github.com/core-wg/coral/issues/15#issuecomment-834522145) or just "always" (esp. if the scheme was just in use and is thus obviously known to the parties involved).

> My stance here is that binary comparability should be advertised on a best-effort basis, because there are other forms of URI aliasing we can't cover in for sure anyway.

Is [-href-03#section-4](https://tools.ietf.org/html/draft-ietf-core-href-03#section-4) in line with that stance or do we need to change something there?

>      C6. The port is omitted if and only if the port would be the same
>          as the scheme's default port (provided the scheme is defining
>          such a default port) or the scheme is not using ports.

... which requires knowledge of the scheme, which an application
converting from URIs (eg. because it got link-format content pointing to
https://vendor.com:80/device-description for some reason).
