Deterministic encoding?

The current text says:

> The encoding MUST satisfy the Core Deterministic Encoding Requirements specified in {{Section 4.2.1 of RFC8949}}.

I *think* this is a remnant from when CoRAL and CRI were a single document; I don't see any reason to prescribe this for CoRAL.

Any objections to removing that?

Related: https://github.com/core-wg/coral/issues/4, https://github.com/core-wg/coral/issues/26 

Also related: For IPv4 and IPv6 addresses there will now be [tags](https://github.com/cbor-wg/cbor-network-address).

Anything like this would need to subject to extension points; might CBOR tags be a good such extension point?

The obvious trade-off is extensibility vs. interoperability and canonicalization. Registered names and IPv[46] addresses are what we commonly have now. Can we leave the door open for IPvFuture? Or is it better to pick something that works well and unambiguously now, and leave that out alltogether (possibly utilizing CBOR compression)?

From [related discussion around packed CBOR](https://mailarchive.ietf.org/arch/msg/cbor/ny0rIcy0rKXc7lAH0pdKt2i-BSg):

[`ni` URIs](https://datatracker.ietf.org/doc/html/rfc6920) provide a case where a binary expression would not be useful in the authority part, but in the path part. For URIs like `ni:///sha-256;UyaQV-Ev4rdLoHyJJWCi11OHfrYv9E1aGQAlMO2X_-Q`, the RFC even does provide a binary format, which could be employed as-is or just be picked into a (suite ID, binary hash) CBOR item.

Given these are all more niche cases, I'm increasingly leaning toward tag based solutions here. With the current (-04) encoding, variations of examples would be:

* for `coap://7.6.5.4.3.2.1.4.6.6.3.4.e164.arpa/foo`:

    ```
    [-1,            / scheme coap /
     #6.TBD164("765432146634")   / equivalent to (True, "7.6.5.4.3.2.1.4.6.6.3.4.e164.arpa" /
     "foo"] / path /
    ```

* for `http://nbswy3dpo5xxe3denbswy3dpo5xxe3de.onion`:

    ```
    [-3, / scheme http /
    #6.TBDonion(h'68656C6C6F776F726C64')
    ]
    ```

* for `ni:///sha-256;UyaQV-Ev4rdLoHyJJWCi11OHfrYv9E1aGQAlMO2X_-Q`:

    ```
    [(false, 'ni'), / scheme ni /
    #6.TBDni([1, h'532690544bf8add2e81f22495828b5d4e1dfad8bfd13568640094c3b65d0']) / short for "sha-256;...." /
    ]
    ```

    (with variations as to whether it's just be `#6.TBDni(h'015326...')`, or whether it may make sense to have the tag encompass the scheme too, in which case it'd need extra provisions to cater for cases when there *is* an authority component encoded in the ni URI, which is possible).

The question with these tag-based extensions of course is who is supposed to know these tags and what happens when processing a CRI with a tag unknown to the processor.

(Oh, and we should allocate an nint for ni:)

But that's really the same for *every* use of tags in in CBOR: Unless
your application requirements (eg. the CBOR-base format using it) say
that it's MTI, you're always taking the risk of the peer not
understanding it.

In the case of CRI parsing that'd put it in the "invalid CRI" category
just as if anything else were awry in there, and while there may be some
graceful failing (a CoRAL processor should probably just mark the base
and context CRIs as invalid while traversing, or stop traversing down a
branch if it encounters an invalid CRI), but otherwise it's 4.00 as
always.

One property these optimizations have over other tags is that a CRI
processor that does understand may have the capability to encode them in
their more verbose form, but constrained devices will probably rather
rely on their application's guarantee that all peers must implement (and
maybe even exclusively use) the relevant tags, and can thus use the tags
not only for on-the-wire compression, but also to avoid ever having to
touch the baseX-encoded text parts.

(And yes, a number for ni would be good if we actually wind up using it).
