CRI serialization improvements

[Proposal](https://mailarchive.ietf.org/arch/msg/core/B1O1VezNNnUMAkfneNUjXN988f4/):

```cddl
CRI-Reference = [
  (?scheme, ?(host, ?port) // path.type),
  *path,
  ? (QUERY, +query)
  ? (FRAGMENT, fragment)
]

scheme    = ((SCHEMETEXT, text .regexp "[a-z][a-z0-9+.-]*") 
            // COAP // COAPS // HTTP // HTTPS)
host      = ((HOSTTEXT, text) // bytes .size 4 // bytes .size 16)
port      = 0..65535
path.type = 0..127
path      = text
query     = text
fragment  = text

SCHEMETEXT = -1
COAP = -2 COAPS = -3 HTTP = -4 HTTPS = -5
HOSTTEXT = true
QUERY = -6
FRAGMENT = -7
```

This ties in to an extent to how the coap scheme situation will be resolved. If we expect coap+tcp URIs to be around, or expect that the transport-independent URI would get another scheme, we'd need extensibility on the compressible protocols. (Might be easily achievable by renumbering such that the structural values are close to zero and extension is unbound beyond https).

A nice aspect of this format is that it could compactly represent the endpoints we need to express in multicast-notifications and groupcomm-proxy.

My current proposal is:

``` cddl
CRI-Reference = [
 (authority // path-type),
 *path,
 ? (([], fragment)              ; include array only if
    //([+query], ?fragment))    ; at least one query and/or fragment
]

authority = (?scheme, ?(host, ?port))
scheme    = ((false, text .regexp "[a-z][a-z0-9+.-]*")
              // COAP // COAPS // HTTP // HTTPS)
COAP = -1 COAPS = -2 HTTP = -3 HTTPS = -4
host      = ((true, text) // bytes .size 4 // bytes .size 16)
port      = 0..65535
path-type = 0..127

path      = text
query     = text
fragment  = text
```

So there would not be any structural items in the way.

I think that with

```
host //= false
```

URIs without an authority component would be easily covered. (It'd take a few more words around conversion to URIs around leading slashes for this case to ensure both file:/foo and mailto:bar can be expressed, but for most operations it's just another permissible value).

One advantage of the more verbose encoding with name/value pairs was that this encoding can be immediately be operated on by the reference resolution algorithm. This new, more compact encoding now first requires a decoding step if we want to keep the same algorithm.

Actually, there are now two equivalent implementations of the algorithm:

https://github.com/core-wg/coral/blob/2c6c725f63271bdd1b5f8dc4005b783aee1b765b/binary/python/ciri/resolution.py#L3-L42

and

https://github.com/core-wg/coral/blob/2c6c725f63271bdd1b5f8dc4005b783aee1b765b/binary/python/test_ciri.py#L63-L102

(The latter is closely based on [RFC 3986, Section 5.2.2](https://tools.ietf.org/html/rfc3986#section-5.2.2) and used to test the former).

Can we find an equivalent, even more compact implementation for the new encoding?

Probably; giving it a try.

One can't stream in either version over the base without knowing in advance how many path components the base has, so any base CRI either needs to be stored with its number of path components (from a first validation pass), or needs to be gone over twice when resolving (can't know where to stop when executing two `..` segments).

My first WIP approach seems to indicate that computationally it's all just the same, but you'd *really* want this written by a CDDL compiler or some to-be-found serialization. Right now I feel like I want gotos. I am working on the assumption that whenever the CBOR sequence is processed into something different than an array initially. A plain `cbor.load()` would produce that array, but I see no reason to assume that this variadic form is in any way better than doing some parsing right upfront (doing a bit more than but conceptually similar things as the list-to-2-tuple conversion in the examples). Sure, *when* one goes with a 2-tuple list it's easy to write a CRI resolver, but I don't see how having a list of arbitrarily typed elements is in any way desirable in a constrained environment.

FWIW, I have an (outdated) C implementation that uses the following compact in-memory format for CRIs:

```
fence-post  fence  fence-post  fence  fence-post  ...etc...  fence-post
```

where each “fence” holds one option value (0-31 bytes) and each “fence-post” (1 byte) encodes the option number (0-7) and the lengths of both adjacent fences. 

This format supports both efficient traversal in both directions and appending/removing elements at both ends. 

Some numbers based on a sample that includes all well-formed CRIs up to certain length, excluding any byte string or array wrapper:

| | Total bytes | Compared to current draft | Compared to raw option values|
|---|---|---|---|
[Current draft](https://tools.ietf.org/html/draft-ietf-core-coral-03#section-3) | 52984    |   100%    |    166%|
[In-memory format](https://github.com/core-wg/coral/issues/58#issuecomment-828506011) | 45529    |    86%    |   143%|
[Current proposal](https://github.com/core-wg/coral/issues/58#issuecomment-817850331)  |  44151  |      83%       | 138%|
Raw option values + 1 byte per option |43340    |    82%   |     136%|
Raw option values   | 31926    |    60%     |    100%|


Since I'm using quite short option values (2-5 bytes each), the 43771-43340=431 difference probably comes purely from the `false` and `true` data items in front of scheme and host name, respectively. So... not too bad. :+1:

Writing the serializer/deserializer is a bit annoying, though. :unamused: 

I interpret the table as "we are in diminishing returns land" here, at least when looking at the current proposals.

For the current proposal we'd need to specify out precisely what the path types mean -- I'm reading it as "if a path-type is present, it indicates how many path elements are stripped" (not precisely corresponding to '../' segments in a URI reference), and when absent it means that all the path is replaced with the new path. So any URI reference `?foo` or `#bar` would be `(0, ["foo"])` or `(0, [], "bar")`, right? Because `(["foo"])` would be `/?foo` and `([], "bar")` would be `/#bar`.

> For the current proposal we'd need to specify out precisely what the path types mean

In the current (as of https://github.com/core-wg/coral/commit/06fdb14a43b0e9f7f78f78a46402fc13252dcd9e) reference implementation and editor's draft, it's defined as follows:

* no base-path option removes no path options from the base CRI,
* base-path option value 0 removes all path options from the base CRI, and
* base-path option value *n* for *n*≠0 removes *n* many path options from the base CRI.

| | Current draft | Current proposal |
|--|--|--|
`?#foo` | `(query, ""), (fragment, "foo")` | `([""], "foo")`
`#foo` | `(fragment, "foo")` | `([], "foo")`

Right?

We can define it like that, but then we get

| | Current proposal |
|--|--|
`#foo` | `[ [], "foo" ]`
`?#foo` |  `[ [""], "foo" ]`
`?` |  `[ [""]]`
`?&` |  `[ ["", ""]]`
`?&x` |  `[ ["", "x"]]`

which is ... yeah, probably right. (Previously I'd have seen `[""]` as the single-ampersand query, but it's workable that way too).

Updating again ... all while I want to get the demo *done*, but I guess that's part of it.

I was about to complain that resolving `[[""], "foo]` = `?#foo` against a base would the lose the single element (because on some path it'd be `[..., "path", "lastpath", [], "foo"]`) -- but (at least in URI land) no, one just *can't* get rid of the query parameter any more anyway -- even `http://example.com/?` is different from `http://example.com/`. Query parameters just *do* behave subtly different from path segments, and I don't think we have grounds to change anything w/rt that. (To get rid of it, one needs to know the last path segment, and eg. link to `[1, "lastpath", [], "foo"]` = `./lastpath#foo`).

I now have a bit of code for the Current Proposal too, at https://gitlab.com/chrysn/micrurus/-/blob/master/cri-58-tests.py

It calls out to the CDDL gem to produce random CRIs (and to the CBOR gem to get from diagnostic to CBOR), and it makes sense of anything produced there, plus a few test CRIs. It outputs them in some ad-hoc diagnostic notation and as rough equivalences to URI references (where any CRIs starting with a text string can not be represented at all, and I haven't put any effort in escaping).

It also performs resolution against RFC3986's `http://a/b/c/d;p?q`; resolution is (and that's what I was originally trying to show with this) pretty straightforward once one has identified which parts are supposed to be present and which not (but that should really not be done manually but by a CDDL tool).

Notes from the meeting yesterday:
* Current-Proposal is very compact 😀 but not exactly trivial to implement 😟
  (It's also not difficult to implement, but it's not *trivial*.)
* Current-Proposal provides the number of query arguments and not the number of path segments.
  For implementations, it would be more useful to have it the other way around.
* In-memory is comparatively much easier to implement 😀 but has some artificial limitations 😟
    * 👍 Suitable both as in-memory format and as wire format
    * 👍 Most compact encoding (with a choice between a terminator byte and a length prefix)
    * 👎 Option values are limited to 0-31 bytes
        * Might only be a problem for really long host names in practice
    * 👎 No extensibility or compressibility through CBOR tags
* Proposed way forward:
    * Investigate a bit if we can find a trivial implementation for Current-Proposal
      (with possibly some tweaks to the format, such as encoding the path segments as a CBOR array).
    * If we're not successful, go with In-memory.